<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>529116845053-cn2m3r575rcvtno1iitim4u786tgnghn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.529116845053-cn2m3r575rcvtno1iitim4u786tgnghn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>529116845053-8d6joecjb9ebfvu3uakqcu29jjbr6spu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA73X2Uvagcit4P4N1f25PzborHXtazIJo</string>
	<key>GCM_SENDER_ID</key>
	<string>529116845053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.giac.app</string>
	<key>PROJECT_ID</key>
	<string>giac-app-9752c</string>
	<key>STORAGE_BUCKET</key>
	<string>giac-app-9752c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529116845053:ios:16b43ce3aaf4a427083f94</string>
</dict>
</plist>